.site {
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-areas:
        "title"
        "main"
        "aside"
        "footer"
        "filler";
}

.filler {
    grid-area: filler;
}

.title {
    grid-area: title;
    text-align: center;
    background-color: rgba(0, 0, 168, 0.74);
    color: beige;
    margin: 0px;
    padding: 5px 0px 20px 0px;    
}

.main {
    padding: 20px;
    grid-area: main;
    background-color: cadetblue;
}

.aside {
    padding: 20px;
    text-align: center;
    vertical-align: middle;
    grid-area: aside;    
    background-color: beige;
}

footer {
    padding: 20px;
    text-align: center;
    grid-area: footer;    
    background-color: rgb(0, 188, 212);
}


@media screen and (min-width: 35em) {
    .site {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
            "title title"
            "main main"
            "aside footer";
    }
}

@media screen and (min-width: 65em) {
    .site {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas:
        "filler title title"
        "filler main main"
        "filler aside footer";
    }

}
